.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.bg-image {
  background-image: url("../assets/table-setting.webp");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}